body {
    margin: 0;
    padding: 0;
}

#TelaPerso
{
    text-align: center;
    background-image: url(assets/fundo1.gif);
    width: 100vw;
    height: 100vh;
    border: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.title
{
    font-size: 30px;
    color: white;
}

#caracteristicas
{
    color: white;
}

label
{
    margin-left: 1000%;
    margin-right: 1px;
}

.progressbar 
{
    display: flex;
    flex-direction: row;
    width: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 10px; /* Aumentei a altura para melhor visualização */
    font-size: 20px;
    color: white;
    align-items: center;
}

#barraVida
{
    background-color: red;
}

#barraAlegria
{
    background-color: red;
}

#barraDispo
{
    background-color: red;
}

#barraFome 
{
    background-color: red;
}

#nome
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#foto
{
    max-width:900px;
    max-height:400px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#boxTexto
{
    width: 60%;
    height: 30%;
    margin-top: 20%;
    margin-left: 130px;
    padding: 20px;
    text-align: center;
    background-color: bisque;
    border-radius: 10px 10px 10px 10px; 
    border: 2px black;
      
}

.imgBox
{
  width: 60%;
  margin: 10px;
}

.imgBox img
{
  margin-top: 100px;
  width: 110%;
  height: auto;
  border-radius: 0 10px 10px 0;
}



#opcoes
{
    width: 60%;
    height: 30%;
    padding: 20px;
    margin-left: 0;
    margin-top: 0; 
    
}

.opButton
{
    height: 100px;
    width: 30%;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 1000px;
    margin-left: 0px;
    font-size: 20px;
    padding: 10px;
    background-color: bisque;    


}

.opButton:hover
{
    background: rgb(228, 175, 61);
    color: rgb(255, 255, 255);
}   
    body {
        text-align: center;
    }

.opButton1
{
    height: 100px;
    width: 100%;
    border: 4px solid rgb(0, 0, 0);
    margin-bottom: 10;
    font-size: 20px;
    padding: 10px;
    background-color: bisque;   
}

.botao
{
    background-color: rgb(125, 125, 255);   
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 50px;
    border: 40px;
    margin: 10px;
    border-radius: 25%;
}

.botao:hover
{
    background-color: rgb(39, 39, 124);
}

#telaJogo
{
    background-image: url(assets/fundohd.jpg);
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

