.main-places {
    margin-left: 30%;
    margin-top: 5%;
    background-color: var(--color-second);
    width: 30%;
    height: 20%;
    border-radius: 25px;
}

.places {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--color-sixth);
    width: 250px;
    height: 200px;
    border: 4px solid black;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}

.places-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.places.-main-work {
    margin: 15px 30px 7px 10px;
    background-image: url(/assets/cenario/trabalho.jpg);
    background-size: cover;
}

.places.-main-kitchen {
    margin-top: 15px;
    margin-right: 10px;
    background-image: url(/assets/cenario/);
}

.places.-main-market {
    margin: 15px 30px 20px 10px;
    background-image: url(/assets/cenario/);
}

.places.-main-party {
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-image: url(/assets/cenario/);
}

.places.-main-room {
    margin: 0px 30px 20px 10px;
    background-image: url(/assets/cenario/);
}

.places.-main-bathroom {
    margin-right: 10px;
    background-image: url(/assets/cenario/);
}


.img-narradora {
    transform: scale(1.2);
    margin-top: 18%;
    margin-left: 13%;
}