.img-narradora {
    transform: scale(1.2);
    margin-top: 18%;
    margin-left: 13%;
}

.choices.-el-1 {
    background-image: url(/assets/cenario/trabalho.jpg);
}

.choices.-el-2 {
    background-image: url(/assets/cenario/);
}

.choices.-el-3 {
    background-image: url(/assets/cenario/festa.jpg);
}

.choices.-el-4 {
    background-image: url(/assets/cenario/casa.jpg);
}