.main-sacola {
    position: relative;
    left: 88%;
    top: 20px;
    border-radius: 20px;
    width: fit-content;
}

.main-sacola .main-button {
    overflow: hidden;
    align-items: center;
}

.main-sacola .main-button span {
    margin-left: 65px;
    transition: all 0.3s;
}

.main-sacola .main-button span img {
    position: relative;
    width: 25px;
    top: 50px;
    right: 105px;
}

.main-button:hover span {
    -webkit-transform: translateY(-47px);
    transition: all 0.3s;
}

.sacola-description {
    position: absolute;
    background-color: var(--color-seven);
    top: 18%;
    left: 23%;
    width: 50%;
    height: 70%;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
}

#checkbox:checked + .sacola-description {
    transform: scale(1.2);
    transition: all 0.2;
}