.main-animation {
    position: relative;
    left: 88%;
    top: 20px;
    border-radius: 20px;
    width: fit-content;
}

.main-animation .main-button {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.main-animation .main-button span {
    margin-left: 65px;
    transition: all 0.3s;
}

.main-animation .main-button span img {
    position: relative;
    width: 25px;
    top: 50px;
    right: 105px;
}

.main-button:hover span {
    -webkit-transform: translateY(-47px);
    transition: all 0.3s;
}

.main-animation .main-button.-home {
    flex-wrap: wrap;
}

.main-animation.-home {
    position: absolute;
    top: 80%;
    left: 45%;
}

.main-animation .main-button.-home span {
    margin-left: 20px;
    margin-top: 10px;
}

.main-animation .main-button.-home span img {
    transform: rotate(-90deg);
    top: 15px;
    left: 60px;
}



.sacola-description {
    position: absolute;
    background-color: var(--color-second);
    top: 18%;
    left: 23%;
    width: 50%;
    height: 70%;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
}

#checkbox:checked + .sacola-description {
    transform: scale(1.2);
    transition: all 0.2;
}

.line {
    background-color: var(--color-negative);
    height: 5px;
    width: 100%;
}

.centralize {
    display: flex;
    flex-direction: column;
}

.comida {
    width: 25%;
}

.food-wrapper {
    display: flex;
    flex-direction: row;
}

.food {
    color: var(--color-negative);
    font-size: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.eat {
    display: block;
    margin-top: 5%;
    margin-left: 40%;
}