.choices {
    background-size: cover;
}

.choices.-el-work {
    background-image: url(/assets/cenario/trabalho.jpg);
}

.choices.-el-market {
    background-image: url(/assets/cenario/mercado.jpg);
}

.choices.-el-party {
    background-image: url(/assets/cenario/festa.jpg);
}

.choices.-el-home {
    background-image: url(/assets/cenario/casa.jpg);
}

.choices.-el-hamburger {
    background-image: url(/assets/comidas/hamburger.png);
}

.choices.-el-salad {
    background-image: url(/assets/comidas/salada.png);
}

.choices.-el-cake {
    background-image: url(/assets/comidas/bolo.png);
}

.choices.-el-dancar {
    background-image: url(/assets/açoes/dancar.gif);
}

.choices.-el-beber {
    background-image: url(/assets/açoes/beber.jpg);
}

.choices.-el-cozinha {
    background-image: url(/assets/cenario/cozinha.jpg);
}

.choices.-el-banheiro {
    background-image: url(/assets/cenario/banheiro.png);
}

.choices.-el-quarto {
    background-image: url(/assets/cenario/quarto.jpg);
}

.choices.-el-dentes {
    background-image: url(/assets/açoes/escovar.gif);
}

.choices.-el-banho {
    background-image: url(/assets/açoes/banho.gif);
}

.choices.-el-rosto {
    background-image: url(/assets/açoes/rosto.gif);
}

.choices.-el-dormir {
    background-image: url(/assets/açoes/dormir.gif);
}

.choices.-el-refrigerante {
    background-image: url(/assets/comidas/refrigerante.jpg);
}

.choices.-el-cerveja {
    background-image: url(/assets/comidas/cerveja.png);
}

.choices.-el-vinho {
    background-image: url(/assets/comidas/vinho.jpg);
}

.choices.-el-agua {
    background-image: url(/assets/comidas/agua.jpg);
}