.wrapper {
    display: flex;
    justify-content: space-around;
}

.button{
    
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid var(--color-second);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    cursor: pointer;
}

.button span{
    font-weight: bold;
    position: relative;
    z-index: 2;
  }

.button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffee00;
    transition: all .35s;
}
  
.button:hover{
    color: #000000;
}
  
.button:hover:after{
    width: 100%;
}